.menu {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  margin-right: 15px;
  p {
    margin-right: 10px;
  }
  img {
    margin-right: 35px;
    border-radius: 50%;
  }
}
